#about-header, #about-subheader {
    margin: 0;
    text-align: center;
}



#grid {
    width: 75vw;
    margin: 15vh auto;
    display: grid;
    column-gap: 5vw;
    grid-template-columns: 2.5fr 2fr;
    grid-template-areas: 
        'header header'
        'p1 skills-title'
        'p1 skill-list'
        'p2 skill-list'
        'p3 skill-list'

    ;
}

#main-text {
    padding-top: 5vh;
}
.p-start {
    font-weight: bold;
    font-size: 1.5em;
}
li {
    scale: 1.5;
    margin: 35px;
}
h1 {
    grid-area: header;
    padding-bottom: 8vh;
}
h2 {
    grid-area: skills-title;
}
ul {
    grid-area: skill-list;
    padding: 3vh 5vw 0 3vw;
}

#p1 {
    grid-area: p1;
    padding-top: 5vh;
}
#p2 {
    grid-area: p2;
    padding-top: 5vh;
}
#p3 {
    grid-area: p3;
    padding-top: 5vh;
}

@media only screen and (max-width: 500px) {
#grid {
    width: 100vw;
    margin: 10vh 0 0;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "p1"
    "p2"
    "p3"
    "skills-title"
    "skill-list"
    ;
}
li {
    scale: 1.2;
    margin: 8px;
}
ul, p {
    padding-left: 8vw;
}
h2 {
    padding-top: 7vh;
}
}