#navbar {
    display: flex;
    justify-content: space-between;
}
#logo {
    max-height: 30px;
}

#profile {
    margin: 1.5vh;
    font-family: 'Righteous', cursive;
}

@media only screen and (max-width: 500px) {
    #navbar {
        flex-direction: column;
    }
    .nav-btn {
        scale: 1;
    }
    #nav-buttons {
        position: relative;
        right: 8vw;
    }
}